# eclipse
/bin/
*.launch
/.settings/
/.metadata/
.classpath
.project

# idea
/out/
*.ipr
*.iws
*.iml
/.idea/

# gradle
/build/
/.gradle/

# runtime
/run/
/runs/
/run-data/
/logs/
/crash-reports/
*.log
hs_err_pid*
replay_pid*

# local extracted sources
/.tmpneoforge/
/.tmpneoforge2/
/.tmpneoforge3/
/repo/

# os
.DS_Store
Thumbs.db
